VITE_SUPABASE_URL=https://bcxhudbmxwvmwpkbfpcm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjeGh1ZGJteHd2bXdwa2JmcGNtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMTAyODcsImV4cCI6MjA3ODU4NjI4N30.cyWF20ufpvXdcWzE8rMNlIsW-kLiRzSNRWUVvTeh0aw

# Optional: specify the Supabase project id to autogenerate types via npm run supabase:types
SUPABASE_PROJECT_ID=bcxhudbmxwvmwpkbfpcm

SUPABASE_URL=https://bcxhudbmxwvmwpkbfpcm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjeGh1ZGJteHd2bXdwa2JmcGNtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzAxMDI4NywiZXhwIjoyMDc4NTg2Mjg3fQ.oUu0kfi1j1p3n1Yx1KXJ0Q1TnXo3u5q3F5b1kY5ZQ8E
